CREATE TABLE test_table_clients (id text PRIMARY KEY);
CREATE TABLE test_table_payments (id text PRIMARY KEY);
ALTER TABLE test_table_payments ADD client_id text NOT NULL REFERENCES test_table_clients(id);
